.list {
  border-radius: 1px;
  border-color:black;
}

.list mat-card {
  background-color:bisque ;
  margin-top: 10px;
  border-color:black;
  border-style: ridge;
  width: 20%;
  padding-top: 0px;
  padding-bottom: 0px;
}

.list mat-card mat-card-title {
  font-family: 'Times New Roman', Times, serif;
}
